<div class="container" style="border:1px solid grey;border-radius: 15px;margin-top: 10px;">
    <h2 style="text-align: center;color: blue;">Signin</h2>

    <form (ngSubmit)="signin()" [formGroup]="loginform">
       <div class="container" style="margin: 0 auto;text-align: center;">
        <div class="row">
            <div class="col-md-12">
                <label for="">Email:</label><br>
                <input type="email" formControlName="email" [(ngModel)]="userData.email" 
                        [class.is-invalid]="loginform.get('email').invalid && loginform.get('email').touched"
                name="email" id="email" required>
                <div *ngIf="loginform.get('email').invalid && loginform.get('email').touched ">
                    <small *ngIf="loginform.get('email').errors?.pattern" class="text-danger">Enter a Valid Email</small>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="">Password:</label><br>
                <input type="password" formControlName="password" [(ngModel)]="userData.password" 
                        [class.is-invalid]="loginform.get('password').invalid && loginform.get('password').touched"
                name="password" id="password" required>
                <div *ngIf="loginform.get('email').invalid && loginform.get('email').touched ">
                    <small *ngIf="loginform.get('password').errors?.minlength" class="text-danger">Minimum Length Is 8 Characters</small><br>
                    <small *ngIf="loginform.get('password').errors?.pattern" class="text-danger">Password Contains numbers,special characters(!@#$%) and both uppercase and lowercase letters</small>
                </div>
            </div>          
        </div>
       
        <div class="row">
            <div class="col-md-12">
               <button class="btn btn-success" type="submit" [disabled]="loginform.invalid">Login</button>
            </div>          
        </div>
       </div>
    </form>
</div>