.navBar
{
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 3px solid whitesmoke;
}
.logout-nav
{
  color: deeppink !important;
  float: right !important;
}
.user
{
  font-family: 'Baloo 2', cursive;
  float: right;
  border:1px dashed darkviolet ;
  float: right;
  list-style: none;
  margin-left: 10px;
  width: min-content;
}
ul
{
 font-family: 'Baloo 2', cursive;
 width: 100%;
 margin: 0 auto;
 border-radius: 15px;
 border: 2px solid wheat;
}
li
{
 
 font-size: large;
 margin-left: 10px;
}
a
{
 color: white !important;
}
a:hover
{
    color: black !important;
    font-weight: bolder;
}
.custom-toggler.navbar-toggler {
    /* border-color: rgb(255,102,203); */
    border: 2px solid whitesmoke;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}